.section
	.section-content.philosophy-section
		.header
			h1.left Philosophy

			.philosophy-format-menu
				a.button.outline-button.base-secondary.alt-title-button(href='/files/philosophy.pdf') PDF
				a.button.outline-button.base-secondary.alt-title-button(href=public.sections.philosophy._data.html_url) Github

		include:markdown sections/philosophy/philosophy.md

	.section-footer
		p.time-ago Last revised 
			a(href=public.sections.philosophy._data.html_url)
				abbr(title=public.sections.philosophy._data.updated_at class="date")